<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="test.ct45.discovery">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="33" />
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:label="CT45 discovery test fixture" android:theme="@android:style/Theme.Material.Light.NoActionBar">
    <activity android:name=".DiscoveryFixture" android:exported="true">
      <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
    </activity>
  </application>
</manifest>
